<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Historia</title>

    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <nav>
        <a href="../index.html">Inicio</a>
        <a href="historia.html">Historia</a>
        <a href="flota.html">Flota Naval</a>
        <a href="misiones.html">Misiones</a>
        <a href="contacto.html">Contacto</a>
    </nav>

    <header class="hero">
        <h1>Historia de la Armada Colombiana</h1>
    </header>

    <main>

        <section class="presentacion">

            <div class="texto">

                <h2>Nuestros Inicios</h2>

                <p>
                    La Armada Nacional de Colombia fue creada para proteger
                    los mares rios y territorios del pais.
                </p>

                <br>

                <p>
                    A lo largo de los años ha participado en operaciones
                    importantes de seguridad defensa y ayuda humanitaria.
                </p>

            </div>

            <div class="imagen-container">

                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/Colombian_frigate_Almirante_Padilla_%28FM-51%29_in_June_2014.JPG">

            </div>

        </section>

    </main>

</body>

</html>
