<section class="presentacion">

    <div class="texto">

        <h2>Contacto Armada Nacional</h2>

        <p>
            La Armada Nacional de Colombia mantiene diferentes canales
            de comunicacion para brindar informacion y atencion a la
            comunidad colombiana.
        </p>

        <br>

        <p>
            📧 Correo:
            contacto@armada.mil.co
        </p>

        <br>

        <p>
            📞 Telefono:
            +57 601 220 0490
        </p>

        <br>

        <p>
            📍 Ubicacion:
            Bogota Colombia
        </p>

        <br>

        <p>
            🌐 Pagina oficial:
            www.armada.mil.co
        </p>

    </div>

    <div class="imagen-container">

        <img src="https://upload.wikimedia.org/wikipedia/commons/5/52/US_Navy_060511-N-1045B-025_Armada_Republica_Colombia_%28ARC%29_frigate_missile-class_ships_Caldas_%28FM_52%29_and_Atioquia_%28FM_53%29_conducts_a_Group_Sail_Exercise_with_the_George_Washington_Carrier_Strike_Group.jpg"
        alt="Contacto Armada Colombiana">

    </div>

</section>
