<section class="cards">

    <div class="card">

        <h3>🚢 Fragatas</h3>

        <p>
            Las fragatas son barcos militares grandes utilizados para
            proteger las costas colombianas y participar en operaciones
            de seguridad maritima.
        </p>

    </div>

    <div class="card">

        <h3>⚓ Patrulleros</h3>

        <p>
            Los patrulleros vigilan los mares y rios del pais para
            controlar actividades ilegales y mantener la seguridad.
        </p>

    </div>

    <div class="card">

        <h3>🛥 Submarinos</h3>

        <p>
            Los submarinos permiten realizar misiones estrategicas
            bajo el agua y fortalecer la defensa naval colombiana.
        </p>

    </div>

    <div class="card">

        <h3>🚤 Lanchas Rapidas</h3>

        <p>
            Son utilizadas en operaciones de rescate persecucion y
            vigilancia en zonas maritimas y fluviales.
        </p>

    </div>

</section>
