<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Misiones</title>

    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <nav>
        <a href="../index.html">Inicio</a>
        <a href="historia.html">Historia</a>
        <a href="flota.html">Flota Naval</a>
        <a href="misiones.html">Misiones</a>
        <a href="contacto.html">Contacto</a>
    </nav>

    <header class="hero">

        <h1>Misiones de la Armada Colombiana</h1>

        <p>
            Compromiso seguridad y proteccion al servicio de Colombia.
        </p>

    </header>

    <main>

        <section class="cards">

            <div class="card">

                <h3>🛡 Defensa Nacional</h3>

                <p>
                    Proteccion de los mares rios y fronteras maritimas
                    colombianas frente a diferentes amenazas.
                </p>

            </div>

            <div class="card">

                <h3>🚨 Operaciones de Rescate</h3>

                <p>
                    Ayuda y rescate de personas durante emergencias
                    maritimas y desastres naturales.
                </p>

            </div>

            <div class="card">

                <h3>⚓ Seguridad Maritima</h3>

                <p>
                    Vigilancia permanente para combatir actividades
                    ilegales en aguas colombianas.
                </p>

            </div>

            <div class="card">

                <h3>🌊 Ayuda Humanitaria</h3>

                <p>
                    Apoyo a comunidades afectadas por inundaciones
                    y situaciones de emergencia.
                </p>

            </div>

        </section>

    </main>

</body>

</html>
