<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Proyectos | Root Design</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        <a href="../index.html">Inicio</a>
        <a href="proyectos.html">Proyectos</a>
        <a href="habilidades.html">Habilidades</a>
        <a href="contacto.html">Contacto</a>
    </nav>
    <header class="hero">
        <h1>Mis Proyectos</h1>
    </header>
    <main class="presentacion">
        <section>
            <h2>Análisis de Datos</h2>
            <p>Proyecto de visualización estadística sobre asistencia y convivencia escolar.</p>
        </section>
        <br>
        <section>
            <h2>Desarrollo de Software</h2>
            <p>Construcción de aplicaciones web utilizando FastAPI y Python.</p>
        </section>
    </main>
</body>
</html>

